#root { /* for root div */
    width: 100%; /* 100% of parent (body) width */
    height: 100%; /* 100% of parent (body) height */
}

#homepage { /* for homepage div */
    align-items: center; /* center alignment along vertical axis */
    justify-content: center; /* center alignment along horizontal axis */
}

#start-button { /* for button on homepage, which leads to main part of the app */
    margin-left: 10px; /* space on the left */
    margin-top: 5px; /* space on the top */
    margin-bottom: 15px; /* space on the bottom*/
}

.info-text { /* for information text */
    color: #0353a4; /* set color */
    margin-left: 5px; /* space left */
    margin-right: 5px; /* space on the right */
}

.pretty-heading { /* for class pretty heading */
    font-weight: bold; /* bold letters */
    font-family: monospace; /* font family */

    letter-spacing: 3px; /* space between letters */
    text-transform: uppercase; /* make letters uppercase */

    padding: 10px; /* surround text with space */

    /* gradient background from left to right: blue, white then again blue, which starts at 10% of the gradient */
    background: linear-gradient(to right, rgb(39, 125, 236, 70), rgba(255, 255, 255, 10), rgba(39, 125, 236, 100) 10%);
    -webkit-background-clip: text; /* cut text out of the gradient background */
    -webkit-text-fill-color: transparent; /* make initial text color transparent not to override gradient */
    animation: shine 15s infinite linear; /* infinite animation with 15 second loop and
    same speed from start to end (linear) */
}

@keyframes shine { /* animation description */
    0% { /* when animation is at at 0 percent */
        background-position: -10vw; /* animation is positioned at -10% of screen width */
    }
    70% { /* when animation is at 70 percent */
        background-position: 90vw; /* animation is positioned at 90% of screen width */
    }
    /* animation stays at the same position from 70% to 90% of its' life cycle */
    100% { /* when animation is at 70 percent */
        background-position: 90vw; /* animation is positioned at 90% of screen width */
    }
}

/* If the screen size is 400px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 400px) {
    .pretty-heading { /* set css for heading class */
        font-size: 50px; /* set font size */
    }
}

/* If the screen size is 399px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 399px) {
    .pretty-heading { /* set css for heading class */
        font-size: 35px; /* set font size */
    }
}